<tr
  id="report_<%= report.id %>"
  class="
    border border-gray-400 dark:border-gray-700 hover:bg-gray-600 transition
  "
>
  <td class="border border-gray-400 px-4 py-2"><%= report.id %></td>
  <td class="border border-gray-400 px-4 py-2"><%= report.reported_user&.username || "N/A" %></td>
  <td class="border border-gray-400 px-4 py-2"><%= report.type %></td>
  <td class="border border-gray-400 px-4 py-2"><%= report.reason.presence || "No reason given" %></td>
  <td class="border border-gray-400 px-4 py-2">
    <span
      id="report-status-<%= report.id %>"
      class="
        px-2 py-1 rounded-full text-white <%= report.status == 'open' ? 'bg-red-500' : 'bg-green-500' %>
      "
    >
      <%= report.status.capitalize %>
    </span>
  </td>
  <td class="border border-gray-400 px-4 py-2 text-center">
    <% if Post.where(id: report.post_id).exists? %>
      <button
        class="text-blue-500 hover:text-blue-700 view-report"
        data-report-id="<%= report.id %>"
        data-post-id="<%= report.post_id %>"
      >
        View
      </button>
    <% else %>
      <span class="text-gray-500 italic">Post Deleted</span>
    <% end %>
    |
    <% if report.status == "open" %>
      <button
        class="text-red-500 hover:text-red-700 close-report"
        data-report-id="<%= report.id %>"
      >
        Close
      </button>
    <% else %>
      <span class="text-gray-500 " disabled>
        Closed
      </span>
    <% end %>
  </td>
</tr>
